

<div class="container mt-5">
    <div class="row mb-5">
        
            <div class="dash col-xl-6 col-sm-12 border border-secondary">
                <span class="d-flex p-2 h3">Les Thèmes</span>
                <a class="col-sm-6 col-xl-12 sm-m-auto d-flex" routerLink="/themes">
                    
                        <img class="img-fluid p-5" src="../../../assets/css/img/themes-550.png" alt="Les thèmes">
                        
                </a>
            </div>
       
            <div class="col-xl-6 col-sm-12 border border-secondary">
                <span class="d-flex p-2 h3">Les Formations</span>
                <a class="col-sm-6 col-xl-12 sm-m-auto d-flex" routerLink="/formations">

                
                    <img class="img-fluid ml-5 p-5 img-dashboard" src="../../../assets/css/img/formations-550.png" alt="Les thèmes">
                </a>
            </div>

    </div>
</div>    