.btn-add{
    background:#273781;
    border:none;
    border-radius:9px;
}

.thead-agir{
    background:rgb(235, 235, 235);
}

.tr-footer{
    background:rgb(235, 235, 235);

}

.pages{
    display:flex;
    justify-content: center;
}

